@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*
@mixin heading {
}
*/
html, body {
  height: 100%;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.wrapper {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1210px;
  width: 100%;
  padding: 0 20px;
  margin: 0px auto;
}

.divide {
  width: 100%;
  height: 20px;
  background-color: #d7d7d7;
  display: block;
}

.logo {
  width: 32.5%;
  font-family: "Kaushan Script", sans-serif;
  font-size: 48px;
  line-height: 4px;
  font-weight: 400;
  font-style: italic;
  color: #3ec6ff;
  margin-right: 25px;
}

.header {
  background-color: #ffffff;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 115px;
}

.menu li {
  position: relative;
}

.menu__link {
  font-size: 18px;
  line-height: 4px;
  font-weight: 400;
  color: #343434;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__list > li {
  margin-right: 45px;
  margin-bottom: 15px;
}

.menu__list > li:last-child {
  margin-right: 0;
}

.menu__list > li:hover .sub-menu__list {
  display: block;
}

.sub-menu__link, .sub-sub-menu__link {
  font-size: 18px;
  line-height: 4px;
  font-weight: 400;
  color: #343434;
}

.sub-menu__list {
  display: none;
  position: absolute;
  top: 20px;
  left: 0;
}

.fullscreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  min-width: 100%;
  background-image: url(../img/promo_1.png);
  background-size: cover;
}

.fullscreen .container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.promo input {
  max-width: 272px;
  min-height: 50px;
  background-color: #ffffff;
  border-radius: 4px;
  line-height: 1.2;
  padding-left: 30px;
  color: #b7b7b7;
  text-align: left;
}

.promo__header {
  font-family: Roboto;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 48px;
}

.promo__text {
  margin-bottom: 79px;
  color: #ffffff;
}

.promo__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.promo__search_submit {
  width: 172px;
  min-height: 50px;
  background-color: #3ec6ff;
  border-radius: 6px;
  text-align: center;
  padding: 0;
  line-height: 1.2;
  color: #ffffff;
}

.promo__search_submit:hover {
  cursor: pointer;
  color: #3ec6ff;
  background-color: #ffffff;
  border: 2px solid #3ec6ff;
}

.promo__search input {
  margin-bottom: 10px;
}

.promo__search input:not(:last-child) {
  margin-right: 28px;
}

@media (max-width: 880px) {
  .promo__search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .promo input {
    min-width: 330px;
  }
}

@media (max-width: 520px) {
  .promo__search input {
    min-width: 272px;
  }
  .promo__search input:not(:last-child) {
    margin-right: 0;
  }
}

.subscribe__container {
  padding: 60px 0;
}

.subscribe__text {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #868686;
  padding-right: 20px;
}

.subscribe__text h2 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  color: #868686;
  padding-bottom: 30px;
  text-align: center;
}

.subscribe__button button {
  width: 272px;
  min-height: 50px;
  background-color: #3ec6ff;
  border-radius: 6px;
  text-align: center;
  padding: 0;
  line-height: 1.2;
  color: #ffffff;
  width: 272px;
  color: #ffffff;
  background-color: #3ec6ff;
  border-radius: 6px;
  display: block;
  margin: 30px auto;
}

.subscribe__button button:hover {
  cursor: pointer;
  color: #3ec6ff;
  background-color: #ffffff;
  border: 2px solid #3ec6ff;
}

@media (min-width: 767px) {
  .subscribe__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 90px 0;
  }
  .subscribe__text {
    width: 60%;
  }
  .subscribe__text h2 {
    text-align: start;
  }
  .subscribe__text p {
    padding-right: 15%;
  }
  .subscribe__button {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscribe__button button {
    justify-self: flex-end;
  }
}

.contact-us {
  overflow: hidden;
}

.contact-us__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: flex;
  padding: 60px 0px;
}

.contact-us__body {
  font-size: 16px;
}

.contact-us__image img {
  width: 100%;
}

@media (min-width: 767px) {
  .contact-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-us__image {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(((100vw - 40px) * 0.4) + 20px);
            flex: 0 0 calc(((100vw - 40px) * 0.4) + 20px);
    padding: 0 0 30% 0;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  .contact-us__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 100%;
  }
  .contact-us__body {
    width: 60%;
    padding: 60px 130px 60px 0;
  }
}

.contact__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px 50px 50px 50px 50px 130px;
      grid-template-rows: 50px 50px 50px 50px 50px 130px;
  -ms-grid-columns: (minmax(30px, 1fr))[2];
      grid-template-columns: repeat(2, minmax(30px, 1fr));
  grid-column-gap: 30px;
}

.contact__form :last-child {
  margin-top: 40px;
}

.contact__form label {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contact__form input, .contact__form textarea {
  padding-left: 30px;
  color: #b7b7b7;
}

.contact__form textarea {
  padding-top: 19px;
}

.contact__title {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  color: #868686;
  margin-bottom: 50px;
}

.contact .form__item {
  border-radius: 4px;
}

.contact .form__textarea {
  grid-column: span 2;
}

.contact .form__submit {
  width: 272px;
  min-height: 50px;
  background-color: #3ec6ff;
  border-radius: 6px;
  text-align: center;
  padding: 0;
  line-height: 1.2;
  color: #ffffff;
}

.contact .form__submit:hover {
  cursor: pointer;
  color: #3ec6ff;
  background-color: #ffffff;
  border: 2px solid #3ec6ff;
}

@media (min-width: 1210px) {
  .contact-us__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100vw - (((100vw - 1210px) / 2) + ((1210px - 40px) * 0.6) + 20px));
            flex: 0 0 calc(100vw - (((100vw - 1210px) / 2) + ((1210px - 40px) * 0.6) + 20px));
  }
}

.map {
  width: 100%;
}

.map__iframe {
  width: 100%;
  height: 50vh;
  border: 0;
}

.video {
  width: 100%;
  height: 70vh;
  background: url(../img/dubai/dubai-bg.png);
  background-size: cover;
  position: relative;
  /*контейнер для абсолют позиционированного блока*/
}

.video__iframe {
  position: absolute;
  /* один из приемов для центрирования*/
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.5;
}

.video__iframe:hover {
  opacity: 1;
}

.app {
  padding-top: 20px;
}

.app__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.app__image {
  width: 25%;
}

.app__image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.app__promo {
  width: 65%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.app__head {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  color: #868686;
  margin-bottom: 25px;
}

.app__text {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #868686;
  margin-bottom: 45px;
}

.app__button {
  width: 272px;
  min-height: 50px;
  background-color: #3ec6ff;
  border-radius: 6px;
  text-align: center;
  padding: 0;
  line-height: 1.2;
  color: #ffffff;
}

.app__button:hover {
  cursor: pointer;
  color: #3ec6ff;
  background-color: #ffffff;
  border: 2px solid #3ec6ff;
}
