@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html, body {
  height: 100%;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.wrapper {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1210px;
  width: 100%;
  padding: 0 20px;
  margin: 0px auto;
}

.divide {
  width: 100%;
  height: 20px;
  background-color: #d7d7d7;
  display: block;
}

.logo {
  width: 32.5%;
  font-family: "Kaushan Script", sans-serif;
  font-size: 48px;
  line-height: 4px;
  font-weight: 400;
  font-style: italic;
  color: #3ec6ff;
  margin-right: 25px;
}

.header {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 115px;
}

.menu li {
  position: relative;
}

.menu__link {
  font-size: 18px;
  line-height: 4px;
  font-weight: 400;
  color: #343434;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__arrow {
  display: none;
}

.menu__list > li {
  margin-right: 45px;
}

.menu__list > li:last-child {
  margin-right: 0;
}

.menu__sub-link {
  font-size: 18px;
  line-height: 4px;
  font-weight: 400;
  color: #ffffff;
}

.menu__sub-link:hover {
  text-decoration: underline;
}

.menu__sub-list {
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #3ec6ff;
  border-radius: 20px;
  min-width: 100px;
  z-index: 5;
  padding: 15px;
}

/*-------------------------*/
body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid #000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  margin: 0 0 0 5px;
}

body._touch .menu__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body._touch .menu__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li._active .menu__arrow {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

/*-------------------------*/
@media (min-width: 767px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list > li {
    padding: 10px;
  }
  .menu__sub-list {
    -webkit-transform: translate(0px, 10%);
        -ms-transform: translate(0px, 10%);
            transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

@media (max-width: 767px) {
  .menu__icon {
    z-index: 10;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: #3ec6ff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu__icon:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #3ec6ff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu__icon span {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 10%;
    background-color: #3ec6ff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
}

.fullscreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  min-width: 100%;
  background-image: url(../img/promo_1.png);
  background-size: cover;
}

.fullscreen .container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.promo input {
  max-width: 272px;
  min-height: 50px;
  background-color: #ffffff;
  border-radius: 4px;
  line-height: 1.2;
  padding-left: 30px;
  color: #b7b7b7;
  text-align: left;
}

.promo__header {
  font-family: Roboto;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 48px;
}

.promo__text {
  margin-bottom: 79px;
  color: #ffffff;
}

.promo__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.promo__search_submit {
  width: 172px;
  min-height: 50px;
  background-color: #3ec6ff;
  border-radius: 6px;
  text-align: center;
  padding: 0;
  line-height: 1.2;
  color: #ffffff;
}

.promo__search_submit:hover {
  cursor: pointer;
  color: #3ec6ff;
  background-color: #ffffff;
  border: 2px solid #3ec6ff;
}

.promo__search input {
  margin-bottom: 10px;
}

.promo__search input:not(:last-child) {
  margin-right: 28px;
}

@media (max-width: 880px) {
  .promo__search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .promo input {
    min-width: 330px;
  }
}

@media (max-width: 520px) {
  .promo__search input {
    min-width: 272px;
  }
  .promo__search input:not(:last-child) {
    margin-right: 0;
  }
}

.subscribe__container {
  padding: 60px 0;
}

.subscribe__text {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #868686;
  padding-right: 20px;
}

.subscribe__text h2 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  color: #868686;
  padding-bottom: 30px;
  text-align: center;
}

.subscribe__button button {
  width: 272px;
  min-height: 50px;
  background-color: #3ec6ff;
  border-radius: 6px;
  text-align: center;
  padding: 0;
  line-height: 1.2;
  color: #ffffff;
  width: 272px;
  color: #ffffff;
  background-color: #3ec6ff;
  border-radius: 6px;
  display: block;
  margin: 30px auto;
}

.subscribe__button button:hover {
  cursor: pointer;
  color: #3ec6ff;
  background-color: #ffffff;
  border: 2px solid #3ec6ff;
}

@media (min-width: 767px) {
  .subscribe__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 90px 0;
  }
  .subscribe__text {
    width: 60%;
  }
  .subscribe__text h2 {
    text-align: start;
  }
  .subscribe__text p {
    padding-right: 15%;
  }
  .subscribe__button {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscribe__button button {
    justify-self: flex-end;
  }
}

.contact-us {
  overflow: hidden;
}

.contact-us__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: flex;
  padding: 60px 0px;
}

.contact-us__body {
  font-size: 16px;
}

.contact-us__image img {
  width: 100%;
}

@media (min-width: 767px) {
  .contact-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-us__image {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(((100vw - 40px) * 0.4) + 20px);
            flex: 0 0 calc(((100vw - 40px) * 0.4) + 20px);
    padding: 0 0 30% 0;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  .contact-us__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 100%;
  }
  .contact-us__body {
    width: 60%;
    padding: 60px 130px 60px 0;
  }
}

.contact__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px 50px 50px 50px 50px 130px;
      grid-template-rows: 50px 50px 50px 50px 50px 130px;
  -ms-grid-columns: (minmax(30px, 1fr))[2];
      grid-template-columns: repeat(2, minmax(30px, 1fr));
  grid-column-gap: 30px;
}

.contact__form :last-child {
  margin-top: 40px;
}

.contact__form label {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contact__form input, .contact__form textarea {
  padding-left: 30px;
  color: #b7b7b7;
}

.contact__form textarea {
  padding-top: 19px;
}

.contact__title {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  color: #868686;
  margin-bottom: 50px;
}

.contact .form__item {
  border-radius: 4px;
}

.contact .form__textarea {
  grid-column: span 2;
}

.contact .form__submit {
  width: 272px;
  min-height: 50px;
  background-color: #3ec6ff;
  border-radius: 6px;
  text-align: center;
  padding: 0;
  line-height: 1.2;
  color: #ffffff;
}

.contact .form__submit:hover {
  cursor: pointer;
  color: #3ec6ff;
  background-color: #ffffff;
  border: 2px solid #3ec6ff;
}

@media (min-width: 1210px) {
  .contact-us__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100vw - (((100vw - 1210px) / 2) + ((1210px - 40px) * 0.6) + 20px));
            flex: 0 0 calc(100vw - (((100vw - 1210px) / 2) + ((1210px - 40px) * 0.6) + 20px));
  }
}

.map {
  width: 100%;
}

.map__iframe {
  width: 100%;
  height: 50vh;
  border: 0;
}

.video {
  width: 100%;
  height: 70vh;
  background: url(../img/dubai/dubai-bg.png);
  background-size: cover;
  position: relative;
  /*контейнер для абсолют позиционированного блока*/
}

.video__iframe {
  position: absolute;
  /* один из приемов для центрирования*/
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.5;
}

.video__iframe:hover {
  opacity: 1;
}

.app {
  padding-top: 20px;
}

.app__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.app__image {
  width: 25%;
}

.app__image img {
  max-width: 100%;
}

.app__promo {
  width: 65%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.app__head {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  color: #868686;
  margin-bottom: 25px;
}

.app__text {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #868686;
  margin-bottom: 45px;
}

.app__button {
  width: 272px;
  min-height: 50px;
  background-color: #3ec6ff;
  border-radius: 6px;
  text-align: center;
  padding: 0;
  line-height: 1.2;
  color: #ffffff;
  display: block;
  margin: 0 auto;
}

.app__button:hover {
  cursor: pointer;
  color: #3ec6ff;
  background-color: #ffffff;
  border: 2px solid #3ec6ff;
}

@media (max-width: 800px) {
  .app__image {
    display: none;
  }
  .app__promo {
    width: 100%;
  }
  .app__head {
    font-size: 30px;
    text-align: center;
  }
  .app__button {
    display: b;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.footer-top {
  padding: 40px 0 20px 0;
}

.footer-top__left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-top__right {
  width: 100%;
  padding-right: 15px;
}

.footer-bottom {
  padding-bottom: 40px;
  font-size: 14px;
}

.footer-bottom::before {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e2e2e2;
  margin-bottom: 40px;
}

.footer-bottom__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #868686;
}

.footer-bottom__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-bottom__link {
  color: #868686;
}

.footer-bottom__link:not(:last-child) {
  margin-right: 20px;
}

.footer__raw {
  display: block;
  margin: 0 -15px -20px -15px;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3%;
          flex: 0 1 33.3%;
  min-width: 120px;
  padding-bottom: 20px;
}

.footer__label {
  line-height: 30px;
  color: #343434;
  margin-bottom: 15px;
}

.footer__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__button {
  color: #ffffff;
  width: 172px;
  height: 45px;
  background-color: #3ec6ff;
  border-radius: 6px;
  margin-bottom: 20px;
}

.footer__email {
  width: 273px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 6px;
  padding-left: 19px;
  margin-bottom: 20px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
}

.social__item:not(:last-child) {
  margin-right: 30px;
}

.social__item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu-footer__link {
  color: #868686;
  font-size: 14px;
  display: inline-block;
  line-height: 30px;
}

@media (min-width: 910px) {
  .footer__label {
    margin-bottom: 45px;
  }
  .footer__subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 57px;
  }
  .footer-top {
    padding: 80px 0 40px 0;
  }
  .footer-top__left {
    width: 42%;
  }
  .footer-top__right {
    width: 40%;
  }
}

@media (min-width: 768px) {
  .footer__raw {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 -15px -20px -15px;
  }
  .footer-top__left {
    width: 50%;
  }
  .footer-top__right {
    width: 40%;
  }
}
