@import "_style-null";

$fontFamily: Roboto, sans-serif;
$fontSize: 16px;
$fontWeight: 400;
$white: #ffffff;
$black: #343434;
$grey: #868686;
$blue: #3ec6ff;
$maxWidthContainer: 1210px;


@mixin input {
   max-width: 272px;
   min-height: 50px;
   background-color: #ffffff;
   border-radius: 4px;
   line-height: 1.2;
   padding-left: 30px;
   color: #b7b7b7;
   text-align: left;
} 

@mixin shortButton {
   width: 172px;
   min-height: 50px;
   background-color: #3ec6ff;
   border-radius: 6px;
   text-align: center;
   padding: 0;
   line-height: 1.2;
   color: #ffffff;
   &:hover {
      cursor: pointer;
      color: #3ec6ff;
      background-color: #ffffff;
      border: 2px solid #3ec6ff;
   } 
}

@mixin longButton {
   width: 272px;
   min-height: 50px;
   background-color: #3ec6ff;
   border-radius: 6px;
   text-align: center;
   padding: 0;
   line-height: 1.2;
   color: #ffffff;
   &:hover {
      cursor: pointer;
      color: #3ec6ff;
      background-color: #ffffff;
      border: 2px solid #3ec6ff;
   } 
}

//--------------------------------------
//адаптив шрифта
//calc(38px + 10 * ((100vw - 320px) / (1400 - 320)));
$maxWidth: 1400;
@mixin adaptiveFont($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
//------------------------------------------

html, body {
   height: 100%;
   font-family: $fontFamily;
   @include adaptiveFont(16,14);
  // font-size: 16px;
}

body._lock {
   overflow: hidden;
}

.wrapper {
   background-color: #f6f6f6;
   display: flex;
   flex-direction: column;
   flex: 1 1 auto;
   min-height: 100vh;
   overflow: hidden;
   
}

.container {
   max-width: 1210px;
   width: 100%;
   padding: 0 20px;
   margin: 0px auto;
}

.divide {
   width: 100%;
   height: 20px; 
   background-color: #d7d7d7;
   display: block;
}


.logo {
   width: 32.5%;
   font-family: "Kaushan Script", sans-serif;
   font-size: 48px;
   line-height: 4px;
   font-weight: 400;
   font-style: italic;
   color: $blue;
   margin-right: 25px;
   z-index: 5;
}

.header {

   background-color: #ffffff;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 5;
  
   &__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 115px;
   }
}

.menu {
   
   li {
       position: relative;
   }

   &__link {
      font-size: 18px;
      line-height: 4px;
      font-weight: 400;
      color: #343434;
      &:hover {
         text-decoration: underline;
      }
   }
   &__arrow {
      display: none;
   } 
   &__list {
      >li {
         margin-right: 45px;
         
         &:last-child {
            margin-right: 0;
         }
      }
      
   }
   &__sub-link {
      font-size: 18px;
      line-height: 4px;
      font-weight: 400;
      color: #ffffff;
      &:hover {
         text-decoration: underline;
      }
}
   &__sub-list {
      position: absolute;
      top: 30px;
      left: 0;
      background-color: $blue;
      border-radius: 20px;
      min-width: 100px;
      //z-index: 5;
      padding: 15px;
}
}
/*-------------------------*/
body._pc .menu__list > li:hover .menu__sub-list {
   opacity: 1;
   visibility: visible;
   transform: translate(0px, 0px);
   pointer-events: all;
}
body._touch {
    .menu__arrow {
      display: block;
      width: 0;
      height: 0;
      border-top: 10px solid #000;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      transition: transform 0.3s ease 0s; 
      margin: 0 0 0 5px;
      
   }  
    .menu__list > li {
      display: -webkit-box; //при обычном флексе возникает проблема с высотой всего меню- оно сильно сужается и пункты налазят друг на друга. почему???
   }
   .menu__link {
      flex: 1 1 auto;
   }
}
._contain-sublink {
   display: flex;
   flex-wrap: wrap;
}

body._touch .menu__list > li._active .menu__sub-list {
   opacity: 1;
   visibility: visible;
   transform: translate(0px, 0px);
   pointer-events: all;
}
body._touch .menu__list > li._active .menu__arrow {
   transform: rotate(-180deg);
}

/*-------------------------*/
@media (min-width: 767px) {
   .menu {
       &__list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      >li {
         padding: 10px;
         }
      }
      &__sub-list {
         transform: translate(0px, 10%);
         opacity: 0;
         visibility: hidden;
         pointer-events: none;
         transition: all 0.3s ease 0s;
      }
      &__icon {
         display: none;
      }
   }
}

@media (max-width: 767px) {
   .menu  {
      &__icon {
      z-index: 5;
      display: block;
      position: relative;
      width: 30px;
      height: 18px;
      cursor: pointer;
         &._active {
            span {
               transform: scale(0) translate(0px, -50%);
            }
            &::before {
               top: 50%;
               transform: rotate(-45deg) translate(0px,-50%);
            }
            &::after {
               bottom: 50%;
               transform: rotate(45deg) translate(0px, 50%);
            }
         }
     
         &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 10%;
            background-color: $blue;
            transition: all 0.3s ease 0s;
         }
         &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 10%;
            background-color: $blue;
            transition: all 0.3s ease 0s;
         }
         span {
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            height: 10%;
            background-color: $blue;
            transition: all 0.3s ease 0s;
            transform: scale(1) translate(0px, -50%);
         }  
      }
      &__body {
         position: fixed;
         top: 0;
         width: 100%;
         height: 100%;
         background-color: rgba(0, 0, 0, 0.9);
         padding: 130px 30px 30px 30px;
         transition: left 0.3s ease 0s;
         overflow: auto;
         left: -100%; //при transform translate фиксированная плашка почему-то прокручивается вместе с подменю

         &._active {
            left: 0;
         }

         &::before { //плашка между лого и подменю
            content: "";
            width: 100%;
            height: 115px;
            position: fixed;
            top: 0;
            left: 0;       
            background-color: #fff;  
            z-index: 2;
         }
      }
      &__list {
         > li {
            margin-bottom: 30px;
            margin-right: 0;
            &:last-child {
               margin-bottom: 0;
            }
         }
      }
      &__link {
         font-size: 24px;
         color: $blue;
      }
      &__sub-list {
         position: relative;
         background-color: $blue;
         flex: 1 1 100%;
         margin-bottom: 20px;
         display: none;
         li {
            margin-bottom: 20px;
            &:last-child {
               margin-bottom: 0;
            }
         }
      }
      &__sub-link {
         color: #ffffff;
         font-size: 20px;
         
      }
   }  
   body._touch {
    .menu__arrow {
      border-top:10px solid $blue;
      border-left:5px solid transparent;
      border-right:5px solid transparent;
    }
   }
   .menu__list > li._active .menu__sub-list {
      display: block;
   }
}

.fullscreen {
   display: flex;
   min-height: 100vh;
   min-width: 100%;
   background-image: url(../img/promo_1.png);
   background-size: cover;
   & .container {
      flex: 1 1 auto;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
}


.promo {
   input {
      @include input;
   }
   &__header {
      font-family: Roboto;
      @include adaptiveFont(48, 38);
      line-height: 1.2;
      font-weight: 700;
      color: #ffffff;
      margin-bottom: 48px;
}
   &__text {
      margin-bottom: 79px;
      color: #ffffff;
}
   &__search {
      display: flex;
      margin:  0 auto;
      &_country {

      }
      &_transporation {

      }
      &_number {
      }
      &_submit {
         @include shortButton; 
      }
      input {
         margin-bottom: 10px;
         &:not(:last-child) {
         margin-right: 28px; 
      }
      }
}
}

@media (max-width: 880px) {
   .promo {
      &__search {
         flex-direction: column;
         justify-content: center;
      }
      input {
         min-width: 330px;
      }
      &__header {
         margin-top: 130px;
      }
   }
      }

@media (max-width: 520px) {
  .promo {
      &__search {
      input {
         min-width: 272px;
         &:not(:last-child) {
            margin-right: 0;
         }
      }
   }
      }
   }

.subscribe {

   &__container {
      padding: 20px 0;
   }
   &__text {
      font-size: 16px;
      line-height: 1.2;
      font-weight: 400;
      color: #868686;
      padding-right: 20px;
      
      h2 {
      @include adaptiveFont(48, 38);
      line-height: 1.2;
      font-weight: 700;
      color: #868686;
      padding-bottom: 30px;
      text-align: center;
   } 
   }
   &__button {
      button {
         @include longButton;
         display: block;
         margin: 30px auto;
         margin-bottom: 0;
      }
   }
}

@media (min-width:767px) {
   .subscribe {

   &__container {
      display: flex;
      padding: 90px 0;
   }
   &__text {
      width: 60%;

      h2 {
      text-align: start;
      }
      p {
         padding-right: 15%;
      }
   }
   &__button {
     width: 40%;
     display: flex;
     justify-content: center;
     align-items: center;
      button {
         justify-self: flex-end;
      }
   }
}
}

.contact-us {
   overflow: hidden;
   background-image: url(../img/contact-us.png);
   background-size: cover;

		&__content {
         display: flex;
         align-items: center;
         flex: 0 0 100%;
         display: flex; 
         padding: 20px 0px; 
         opacity: 0.8;
      }
      &__container {    
		}
		&__body { 
         @include adaptiveFont(16, 12); 
		}
		&__form {
		}
		&__image {
         display: none;
		}
}
@media (min-width:767px) {
   .contact-us {
      display: flex;
      background: none;
      &__content {
         padding: 60px 0px; 
         opacity: 1;
      }
         
      &__image {
         display: flex;
         position: relative;
         flex: 0 0 calc(((100vw - 40px) * 0.4) + 20px);
         padding: 0 0 30% 0;
         transform: translate(-100%, 0);
         
         img { 
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            max-width: 100%;
         }
      }
      &__body {
         width: 60%;
         padding: 60px 130px 60px 0;
      }
      }
      .contact {
        
         &__title {
            margin-bottom: 50px;
         }
      }
   }

.contact {

      &__form {
         display: grid;
         grid-template-rows: 50px 50px 50px 50px 50px 130px;
         grid-template-columns: repeat(2, minmax(30px, 1fr)); 
         grid-column-gap: 30px;

         :last-child {
            margin-top: 40px;
         }

         label {
            align-self: center;
            @include adaptiveFont(16, 14);
         }
         input, textarea {
            padding-left: 30px;
            color: #b7b7b7;
            @include adaptiveFont(14, 12);
         }
         textarea {
            padding-top: 19px;
         }
         
      }

		&__title {
         @include adaptiveFont(48, 38);
         line-height: 1.2;
         font-weight: 700;
         color: #868686;
		}

      &__first-name {
               
		}
		&__last-name {
               
		}
		&__email {
                
		}
		&__tel {

		&__textarea {
      
		}
}


.form {

		&__grid {
		}     
      &__item {
         border-radius: 4px;
      }
		&__first-name {
              
		}
		&__last-name {
         
		}
		&__email {
        
		}
      &__tel {
       
      }
		&__textarea {
       grid-column: span 2;
		}
      &__submit {
         @include longButton;
      }
}
}

@media (min-width:1210px) {

   .contact-us__image {
      flex: 0 0 calc(100vw - (((100vw - 1210px) / 2) + ((1210px - 40px) * 0.6) + 20px));
   }
}

.map {
   width: 100%;
}
.map__iframe {
   width: 100%;
   height: 50vh;
   border: 0;
}
.video {
   width: 100%;
   height: 70vh;
   background: url(../img/dubai/dubai-bg.png);
   background-size: cover;
   position: relative; /*контейнер для абсолют позиционированного блока*/
      &__item {
         position: absolute; /* один из приемов для центрирования*/
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         opacity: 0.5;
         iframe {
            width: 683px;
            height: 452px;
            border: 0;
         }
         &:hover {
            opacity: 1;
         }
      }
}

.app {
   padding-top: 20px;

     &__container {
      display: flex;
      justify-content: space-between;
   }
      &__image {
         width: 25%;
         img {
            max-width: 100%;
         }
         

      }
      &__promo {
         width: 65%;
         align-self: center;
        
      }
      &__head {
            font-size: 48px;
            line-height: 1.2;
            font-weight: 700;
            color: #868686;
            margin-bottom: 25px;
         }
      &__text {
            font-size: 16px;
            line-height: 1.2;
            font-weight: 400;
            color: #868686;
            margin-bottom: 45px;
         }
      &__button {
            @include longButton;
            display: block;margin: 0 auto;
      } 
}

@media (max-width: 800px) {
   .app__container {

   }
   .app__image {
    display: none;

      img {
        
      }
   }
   .app__promo {
    width: 100%;
   }
   .app__head {
      font-size: 30px;
      text-align: center;
   }
   .app__button {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
   }
} 

.footer-top {
   padding: 20px 0;
   
   &__container {
      
   }
   &__left {
      width: 100%;
      display: flex;
      padding-left: 15px;
      flex-wrap: wrap;
   }
   &__right {
      width: 100%;
      padding-right: 15px;
   }

}

.footer-bottom {
   padding-bottom: 40px;
   font-size: 14px;
   &::before {
      display: block;
      content: "";
      width: 100%;
      height: 1px;
      background-color: #e2e2e2;
      margin-bottom: 40px;
   }
   &__container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      color: #868686;
   }
   &__links {
      display: flex;
   }
   &__link {
      color: #868686;
      &:not(:last-child) {
         margin-right: 20px;
      }
   }
}
.footer {
      &__raw {
         display: block;
        
         margin: 0 -15px -20px -15px;
      }
      &__column {
      flex: 0 1 33.3%;
      min-width: 120px;
      padding-bottom: 20px;
   }
   &__label {
      line-height: 30px;
      color: #343434;
      margin-bottom: 15px;
   }
   &__subscribe {
      display: flex;
      justify-content: space-around;
   }
   &__button {
      color: #ffffff;
      width: 172px;
      height: 45px;
      background-color: #3ec6ff;
      border-radius: 6px;
      margin-bottom: 20px;
   }
      &__email {
      width: 273px;
      height: 45px;
      background-color: #ffffff;
      border-radius: 6px;
      padding-left: 19px;
      margin-bottom: 20px;
   }
   &__social {
      display: flex;
   }
}
.social {
   &__item {
      width: 40px;
      height: 40px;
      background-color: #ffffff;
      border-radius: 50%;
      position: relative;
      &:not(:last-child) {
         margin-right: 30px;
      }
      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }
}

.menu-footer {
   &__link {
      color: #868686;
      font-size: 14px;
      display: inline-block; //чтоб сработал line-height
      line-height: 30px; 
   }
}

@media (min-width: 910px) {
   .footer {
      &__label {
         margin-bottom: 45px;
      }
     &__subscribe {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         margin-bottom: 57px;
     }
}
.footer-top {
   padding: 80px 0 40px 0;
   &__left {
      width: 42%;
   }
   &__right {
      width: 40%;
   }
   }
}

@media (min-width: 768px) {
   .footer {
      &__raw {
         display: flex;
         justify-content: space-between;
         margin: 0 -15px -20px -15px;
      }
      &__subscribe {
         flex-direction: column;
      }
}
.footer-top {

   &__left {
      width: 50%;
   }
   &__right {
      width: 40%;
   }
   }
}
@media (max-width: 768px) {
    .footer__column {
         min-width: 80px;
      }
}